Package: com.jakeashacks.timetounlock
Name: TimeToUnlock
Depends: mobilesubstrate, firmware(>=10.0), preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Set current time as your passcode. Configure from Settings.
Maintainer: Jake James
Author: Jake James
Section: Tweaks
